<a href="https://colab.research.google.com/github/wasim-kilani/data_science_w1/blob/main/Week5_b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer


data = {
    'Age': [25, 30, np.nan, 35, 40, np.nan, 28],
    'Salary': [5000, np.nan, 70000, 80000, np.nan, 60000, 55000],
    'Experience': [2, 5, np.nan, 10, 3, 7, np.nan],
    'Department': ['IT', 'HR', 'IT', np.nan, 'Finance', 'IT', 'HR']
}

df = pd.DataFrame(data)

print("BEFORE IMPUTATION: ")
print(df)
print("\nMissing values: ")
print(df.isna().sum())


numerical_imputer = SimpleImputer(strategy='mean')
numerical_cols = ['Age', 'Salary', 'Experience']
df[numerical_cols] = numerical_imputer.fit_transform(df[numerical_cols])

categorical_imputer = SimpleImputer(strategy='most_frequent')
department_imputed = categorical_imputer.fit_transform(df[['Department']])
df['Department'] = department_imputed.ravel()

print("\nAFTER IMPUTATION: ")
print(df)
print("\nMissing values: ")
print(df.isna().sum())

BEFORE IMPUTATION:
    Age   Salary  Experience Department
0  25.0   5000.0         2.0         IT
1  30.0      NaN         5.0         HR
2   NaN  70000.0         NaN         IT
3  35.0  80000.0        10.0        NaN
4  40.0      NaN         3.0    Finance
5   NaN  60000.0         7.0         IT
6  28.0  55000.0         NaN         HR

Missing values:
Age           2
Salary        2
Experience    2
Department    1
dtype: int64

AFTER IMPUTATION:
    Age   Salary  Experience Department
0  25.0   5000.0         2.0         IT
1  30.0  54000.0         5.0         HR
2  31.6  70000.0         5.4         IT
3  35.0  80000.0        10.0         IT
4  40.0  54000.0         3.0    Finance
5  31.6  60000.0         7.0         IT
6  28.0  55000.0         5.4         HR

Missing values:
Age           0
Salary        0
Experience    0
Department    0
dtype: int64

In [3]:
imputer = SimpleImputer(
    missing_values=np.nan,
    strategy='most_frequent',
    fill_value=None,
    copy=True,
    add_indicator=False,
    keep_empty_features=False
)

df_imputed = imputer.fit_transform(df)